@model EAVWebApplication.Models.Metadata.MetadataModel

<style type="text/css">
    .field-validation-error
    {
        color: red;
    }

    .input-validation-error
    {
        border-color: #FF8080;
        box-shadow: 0px 0px 6px 2px rgba(255,204,204,0.60), inset 0px 0px 1px 1px rgba(0,0,0,0.075);
    }

    .glyphicon-pencil
    {
        color: darkgoldenrod;
    }

    .glyphicon-plus
    {
        color: blue;
    }

    .glyphicon-ok
    {
        color: forestgreen;
    }

    .glyphicon-remove
    {
        color: red;
    }

    .glyphicon-key
    {
        color: goldenrod;
    }

    .glyphicon-repeat
    {
        color: red;
    }

    .glyphicon-trash
    {
        color: dimgray;
    }
</style>


@section scripts
{
    <script>

        $.fn.bootstrapBtn = $.fn.button.noConflict();

        // Necessary to keep load() calls from caching response
        $.ajaxSetup(
        {
            cache: false,
        });

        function dialogAction(url)
        {
            $.ajax(
            {
                url: url,
                type: 'POST',
                data: new FormData(document.getElementById('ctlMetadataForm')),
                processData: false,
                contentType: false,
                cache: false,
                dataType: "json",
                success: function(response, status, request)
                {
                    console.log('Connection to server made. Status: \'' + status + '\'.');

                    if ($('#ctlDialogContainer').dialog('instance'))
                        $('#ctlDialogContainer').dialog('destroy');

                    if (response.dialogURL)
                    {
                        openDialog(response.dialogTitle, response.dialogURL, response.updateURL);
                    }
                    else
                    {
                        $('#ctlDialogContainer').empty();

                        var ctlDropdown = $("#ctlContextList");

                        ctlDropdown.find('option').remove();

                        $.each(response.contextList[0], function () { ctlDropdown.append($("<option />").val(this.Value).text(this.Text)); });

                        resetValidation('form');
                    }
                },
                error: function(request, status, err)
                {
                    console.log('Connection to server not made. Status: \'' + status + '\'\r\nReported error: \'' + err + '\'\r\n')

                    alert('[ERROR] Status: \'' + status + '\' - Error: ' + err + '.');
                },
                complete: function(request, status)
                {
                },
            });
        }

        function openDialog(dialogTitle, dialogURL, updateURL)
        {
            $('#ctlDialogContainer').dialog(
            {
                modal: true,
                appendTo: 'form',
                title: dialogTitle,
                width: 640,
                show: "fade", // Having this here actually allows the first input control to get focus rather than the 'Accept' button.
                open: function ()
                {
                    $('.ui-dialog-titlebar-close').hide();
                    $('div.ui-dialog-buttonpane span.ui-button-icon').removeClass('ui-button-icon ui-icon'); // Using Bootstrap's icons, so don't want jQuery UI's icons
                    $(this).load(dialogURL, function () { resetValidation('#ctlDialogContainer'); });
                },
                buttons:
                [
                    {
                        class: "btn btn-sm",
                        text: "Accept",
                        icon: "glyphicon glyphicon-ok",
                        click: function ()
                        {
                            if ($('#ctlMetadataForm').valid())
                            {
                                dialogAction(updateURL + '?update=true');
                                $(this).dialog('close');
                            }
                        },
                    },
                    {
                        class: "btn btn-sm",
                        text: "Discard",
                        icon: "glyphicon glyphicon-remove",
                        click: function ()
                        {
                            var existing = $('#Existing').val() == 'True';
                            var hasChildren = $('#HasChildContainers').val() == 'True' || $('#HasAttributes').val() == 'True';

                            if (!hasChildren || existing)
                            {
                                dialogAction(updateURL + '?update=false');
                                $(this).dialog('close');
                            }
                        },
                    }
                ],
            });
        }

        function resetValidation(selector)
        {
            var jqForm = $('form');

            jqForm.removeData("unobtrusiveValidation").removeData("validator");

            $.validator.unobtrusive.parse(selector || 'form');

            jqForm.valid();
        }

    </script>
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SaveMetadata", "Metadata", FormMethod.Post, new { id = "ctlMetadataForm" }))
{
    <div id="ctlDialogContainer"></div>

    <div class="row" style="margin-top: 25px; margin-bottom: 20px; padding: 10px 3px 10px 3px; border: solid 1px #000033; border-radius: 3px; background-color: #d0e9eb; ">

        <div class="col-md-2 col-lg-2">
            @Html.DropDownListFor(m => m.SelectedContextID, Model.Contexts.OrderBy(it => it.Name).Select(it => new SelectListItem() { Text = it.Name, Value = it.ContextID.GetValueOrDefault().ToString() }), new { id = "ctlContextList", @class = "form-control" })
        </div>

        <div class="col-md-3 col-lg-3">
            <button type="button" class="btn btn-sm" id="ctlEditContext" onclick="dialogAction('@Url.Content("~/Metadata/EditContext")');"><span class="glyphicon glyphicon-pencil"></span> Edit Context</button>
            <button type="button" class="btn btn-sm" id="ctlNewContext" onclick="dialogAction('@Url.Content("~/Metadata/AddContext")');"><span class="glyphicon glyphicon-plus"></span> New Context</button>
        </div>

    </div>

    <input type="submit" class="btn" value="Save" />
}


