@model EAVFramework.Model.EAVChildInstance


<div class="col-md-12 col-lg-12 col-xl-12">
    <div class="eav-container eav-child-container container">

        <div class="row">
            <div class="eav-container-header eav-child-container-header col-md-12 col-lg-12 col-xl-12">@Model.Container.DisplayText</div>
        </div>

        <div class="row">
            @Html.EditorFor(m => m.Values)
        </div>

        <div class="row">
            @Html.EditorFor(m => m.ChildInstances)
        </div>

    </div>
</div>
