@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MicroEAV</h1>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Metadata", "Index", "Metadata")
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Data", "Index", "Data")
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Sandbox", "Index", "Sandbox")
    </div>
</div>
