@model EAVWebApplication.Models.Data.DataViewModel

<style type="text/css">
    .field-validation-error
    {
        color: red;
    }

    .input-validation-error
    {
        border-color: #FF8080;
        box-shadow: 0px 0px 6px 2px rgba(255,204,204,0.60), inset 0px 0px 1px 1px rgba(0,0,0,0.075);
    }

    .glyphicon-pencil
    {
        color: darkgoldenrod;
    }

    .glyphicon-plus
    {
        color: blue;
    }

    .glyphicon-ok
    {
        color: forestgreen;
    }

    .glyphicon-remove
    {
        color: red;
    }

    .glyphicon-key
    {
        color: goldenrod;
    }

    .glyphicon-repeat
    {
        color: red;
    }

    .glyphicon-trash
    {
        color: dimgray;
    }
</style>


@section scripts
{
    <script>

        $.fn.bootstrapBtn = $.fn.button.noConflict();

        // Necessary to keep calls from caching response
        $.ajaxSetup(
        {
            cache: false,
        });

        function setContext()
        {
            var ctlContainerList = $('#ctlContainerList');

            ctlContainerList.empty();
            ctlContainerList.prop('disabled', true);

            var ctlSubjectList = $('#ctlSubjectList');

            ctlSubjectList.empty();
            ctlSubjectList.prop('disabled', true);

            var contextID = $('#ctlContextList').val();

            if (contextID)
            {
                $.ajax(
                {
                    url: '@Url.Action("SelectContext")',
                    type: 'GET',
                    data: { contextID: contextID },
                    cache: false,
                    dataType: "json",
                    success: function (response, status, request)
                    {
                        console.log('Connection to server made. Status: \'' + status + '\'.');

                        ctlContainerList.append($('<option></option>').attr('value', 0).text(response.Containers.length > 0 ? '<Select Container>' : ''));

                        $.each(response.Containers, function (ix, it)
                        {
                            ctlContainerList.append($('<option></option>').attr('value', it.Value).text(it.Text));
                        });

                        ctlContainerList.prop('disabled', ctlContainerList[0].children.length < 2);

                        ctlSubjectList.append($('<option></option>').attr('value', 0).text(response.Subjects.length > 0 ? '<Select Subject>' : ''));

                        $.each(response.Subjects, function (ix, it)
                        {
                            ctlSubjectList.append($('<option></option>').attr('value', it.Value).text(it.Text));
                        });

                        ctlSubjectList.prop('disabled', ctlSubjectList[0].children.length < 2);
                    },
                    error: function (request, status, err)
                    {
                        debugger;

                        console.log('Connection to server not made. Status: \'' + status + '\'\r\nReported error: \'' + err + '\'\r\n\r\n')
                        console.log(request + '\r\n')

                        alert('[ERROR] Status: \'' + status + '\' - Error: ' + err + '.\r\n\r\n' + request);
                    },
                    complete: function (request, status)
                    {
                    },
                });
            }
        }

    </script>
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditForm", "Data", FormMethod.Post, new { id = "ctlSelectorForm" }))
{
    <div class="row" style="margin-top: 25px; margin-bottom: 20px; padding: 10px 3px 10px 3px; border: solid 1px #A0A0A0; border-radius: 3px; background-color: #9DBCCE; ">

        <div class="col-md-2 col-lg-2">
            @Html.DropDownListFor(m => m.SelectedContextID, Model.Contexts.OrderBy(it => it.Name).Select(it => new SelectListItem() { Text = it.Name, Value = it.ContextID.GetValueOrDefault().ToString() }), "<Select Context>", new { id = "ctlContextList", @class = "form-control", onchange = "setContext();" })
        </div>

        <div class="col-md-2 col-lg-2">
            @Html.DropDownListFor(m => m.SelectedContainerID, Model.CurrentContext != null ? Model.CurrentContext.Containers.Select(it => new SelectListItem() { Text = it.Name, Value = it.ContainerID.GetValueOrDefault().ToString() }) : Enumerable.Empty<SelectListItem>(), "<Select Container>", new { id = "ctlContainerList", @class = "form-control", disabled = "disabled" })
        </div>

        <div class="col-md-2 col-lg-2">
            @Html.DropDownListFor(m => m.SelectedSubjectID, Model.CurrentContext != null ? Model.CurrentContext.Subjects.Select(it => new SelectListItem() { Text = it.Identifier, Value = it.SubjectID.GetValueOrDefault().ToString() }) : Enumerable.Empty<SelectListItem>(), "<Select Subject>", new { id = "ctlSubjectList", @class = "form-control", disabled = "disabled" })
        </div>

    </div>

    <input type="submit" class="btn" value="Edit" />
}


